@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
  --color-primary: #403f3f;
  --color-secondary: #d72050;
  --color-accent: #706f6f;
  --color-base-200: #f3f3f3;
  --color-base-300: #e7e7e7;
}

* {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  transition: all 0.2s;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  position: relative;
}
a:hover {
  opacity: 0.9;
}
a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: rgb(255, 255, 255);
  transition: width 0.3s;
}
a:hover::after {
  width: 100%;
}

/* Snowflake animation */
@keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}

@keyframes snowflakes-shake {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
}

.snowflake {
  position: fixed;
  top: -10%;
  z-index: 9999;
  color: #fff;
  user-select: none;
  pointer-events: none;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
}
